[package]
name = "capstone_rust"
version = "0.2.3"
authors = ["Marco Milanese <marcomilanese7@gmail.com>", "Alex Eubanks <endeavor@rainbowsandpwnies.com>"]
homepage = "https://github.com/endeav0r/capstone-rust"
repository = "https://github.com/endeav0r/capstone-rust"
description = "A Capstone engine binding for Rust"
keywords = ["capstone","disassembly"]
categories = ["api-bindings"]
readme = "README.md"
license = "LGPL-3.0"
build = "build.rs"

[badges]
travis-ci = { repository = "endeav0r/capstone-rust" }

[lib]
name = "capstone_rust"

[dependencies]
libc = "0.2"

[build-dependencies]
bindgen = "0.30.0"
